/* =========================================================== */
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* 12px a 24px */
/* 8px a 16px */
/* 4px a 12px */
/* 12px a 24px */
/* 8px a 16px */
/* 4px a 12px */
/* =========================================================== */
/* FONTES */
/* Merriweather */
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* Argetum Sans */
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans";
  src: url("../../fonts/argentum-sans/ArgentumSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Argentum Sans VF";
  src: url("../../fonts/argentum-sans/ArgentumSans-VF-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Argentum Sans VF";
  src: url("../../fonts/argentum-sans/ArgentumSans-VF-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* =========================================================== */
/* BASE */
body {
  background-color: #16161a;
  font-family: "Argentum Sans", sans-serif;
  font-weight: 200;
  width: 100%;
  min-height: 100lvh;
  overflow-x: hidden;
  overflow-anchor: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fffffe;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 800;
  font-size: clamp(1.69rem, 3vw, 2.25rem);
}

p, a, span {
  color: #94a1b2;
  font-size: clamp(0.94rem, 2vw, 1.25rem);
}

/* =========================================================== */
/* LAYOUT HEADER */
.l-header {
  width: 100vw;
  min-width: none;
}

.l-header--navigation {
  overflow: hidden;
  padding: 1.5rem clamp(5%, 6vw, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

/* =========================================================== */
/* LAYOUT SECTION */
.l-section {
  width: 100%;
  height: 100%;
  padding: 1.5rem clamp(5%, 6vw, 7%);
  display: grid;
  position: relative;
  gap: 1rem;
}
@media (max-width: 768px) {
  .l-section {
    justify-content: center;
  }
}
@media (min-width: 1400px) {
  .l-section {
    width: 1400px;
  }
}

.l-main__background--hero .l-section {
  justify-content: center;
  align-items: center;
}

/* =========================================================== */
/* LAYOUT MAIN */
.l-main {
  width: 100%;
  display: grid;
}

.l-main__background {
  width: 100%;
  display: grid;
}
@media (min-width: 1400px) {
  .l-main__background {
    justify-content: center;
  }
}

.l-main__background--hero {
  height: 100lvh;
  background: url("/assets/imgs/bgs/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* =========================================================== */
/* Button */
.c-button {
  background-color: transparent;
  border: 4px solid #BF7045;
  border-radius: 8px;
  padding: 1rem calc(clamp(0.75rem, 2vw, 1.5rem) + 1.5rem);
  transition: 0.5s;
  overflow: hidden;
}
@media (max-width: 768px) {
  .c-button {
    border: 3px solid #BF7045;
    padding: 0.8rem calc(clamp(0.75rem, 2vw, 1.5rem) + 1.2rem);
  }
}

.c-button__link {
  color: #BF7045;
  text-transform: uppercase;
  font-size: clamp(0.85rem, 1.75vw, 1.125rem);
}

.l-main__background--hero .c-button {
  position: relative;
}
.l-main__background--hero .c-button::before {
  content: "";
  background-color: #BF7045;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.3s;
}
.l-main__background--hero .c-button:hover::before {
  width: 100%;
}
.l-main__background--hero .c-button::after {
  content: "NOVO JOGO";
  width: 100%;
  color: #BF7045;
  text-transform: uppercase;
  font-size: clamp(0.85rem, 1.75vw, 1.125rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.l-main__background--hero .c-button:hover::after {
  opacity: 0;
  transform: translateX(-50%) translateY(150%);
}
.l-main__background--hero .c-button .c-button__span {
  color: #BF7045;
  text-transform: uppercase;
  font-size: clamp(0.85rem, 1.75vw, 1.125rem);
  opacity: 0;
}
.l-main__background--hero .c-button .c-button__link {
  color: #fffffe;
  text-transform: uppercase;
  font-size: clamp(0.85rem, 1.75vw, 1.125rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-250%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s, transform 0.5s;
}
.l-main__background--hero .c-button:hover .c-button__link {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

/* =========================================================== */
/* NAVIGATION */
.c-nav {
  background: rgba(157, 157, 157, 0.062745098);
  border-radius: 10px;
  box-shadow: 0 0px 25px rgba(255, 255, 255, 0.1254901961);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid #545B65;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}
@media (max-width: 480px) {
  .c-nav {
    gap: 1rem;
    width: 100%;
  }
}

.c-nav__list {
  display: flex;
  gap: 1rem;
}

.c-nav__item {
  list-style: none;
}

.c-nav__link {
  color: #fffffe;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
}

.c-nav__title {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/* =========================================================== */
/* ARTICLE */
.c-article {
  display: grid;
}

.c-article:has(.c-article__button-container) .c-article__button-container {
  margin-top: 1rem;
}

.c-article__title {
  font-size: clamp(1.69rem, 3vw, 2.25rem);
}

.l-main__background--hero .c-article {
  text-align: center;
  gap: 0;
}
.l-main__background--hero .c-article__title {
  font-size: clamp(2.75rem, 5vw, 3.5rem);
}

/*# sourceMappingURL=style.css.map */
