@use '../abstracts/_variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;
@use '../abstracts/_placeholders' as *;
@use '../base/_typography' as *;

/* =========================================================== */
/* ARTICLE */

.c-article{
    display: grid;
}

.c-article:has(.c-article__button-container) .c-article__button-container{
    margin-top: 1rem;
}

.c-article__title{
    font-size: $large-title-size;
}

.l-main__background--hero{
    .c-article{
        text-align: center;
        gap: 0;
    }

    .c-article__title{
        font-size: $hero-title-size;
    }
}

.c-article__text{

}