@use '../abstracts/_variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;
@use '../abstracts/_placeholders' as *;
@use '../base/_typography' as *;

/* =========================================================== */
/* Button */

.c-button{
    background-color: transparent;
    border: 4px solid $button-color;
    border-radius: $medium-border-radius;
    padding: 1rem calc($large-padding + 1.5rem);
    transition: 0.5s;
    overflow: hidden;

    @media (max-width: $medium-viewport){
        border: 3px solid $button-color;
        padding: 0.8rem calc($large-padding + 1.2rem);
    }
}

.c-button__link{
    color: $button-color;
    text-transform: uppercase;
    font-size: $button-text-size;
}

.l-main__background--hero .c-button{
    position: relative;

    &::before{
        content: '';
    
        background-color: $button-color;
        width: 0%;
        height: 100%;
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    
        transition: width 0.3s
    }

    &:hover::before{
        width: 100%;
    }

    &::after{
        content: 'NOVO JOGO';
        width: 100%;
        color: $button-color;
        text-transform: uppercase;
        font-size: $button-text-size;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        z-index: 1;

        transition: opacity 0.5s, transform 0.5s;
    }

    &:hover::after{
        opacity: 0;
        transform: translateX(-50%) translateY(150%);
    }

    .c-button__span{
        color: $button-color;
        text-transform: uppercase;
        font-size: $button-text-size;
        opacity: 0;
    }

    .c-button__link{
        color: $button-text-color;
        text-transform: uppercase;
        font-size: $button-text-size;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-250%);
        opacity: 0;
        z-index: 1;
        transition: opacity 0.5s, transform 0.5s;
    }

    &:hover .c-button__link{
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}