@use '../abstracts/_variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;
@use '../abstracts/_placeholders' as *;
@use '../base/_typography' as *;

/* =========================================================== */
/* NAVIGATION */

.c-nav{
    background: #9D9D9D10;
    border-radius: 10px;
    box-shadow: 0 0px 25px #ffffff20;   
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid $stroke-color;

    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7rem;

    @media (max-width: $small-viewport) {
        gap: 1rem;
        width: 100%;
    }
}

.c-nav__list{
    display: flex;
    gap: 1rem;
}

.c-nav__item{
    list-style: none;
}

.c-nav__link{
    color: $main-color;
    font-size: $small-text-size;
}

.c-nav__title{
    font-size: $small-title-size;
}