@use '../abstracts/_variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;
@use '../abstracts/_placeholders' as *;
@use '../base/_typography' as *;

/* =========================================================== */
/* LAYOUT MAIN */
.l-main{
    width: 100%;
    display: grid;
}

.l-main__background{
    width: 100%;
    display: grid;

    @media (min-width: $large-viewport){
        justify-content: center;
    }
}

.l-main__background--hero{
    height: 100lvh;

    background: url('/assets/imgs/bgs/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}