@use '../abstracts/_variables' as *;
@use '../abstracts/_functions' as *;
@use '../abstracts/_mixins' as *;
@use '../abstracts/_placeholders' as *;
@use '../base/_typography' as *;

/* =========================================================== */
/* LAYOUT SECTION */

.l-section{
    width: 100%;
    height: 100%;
    padding: 1.5rem $page-content-padding;

    display: grid;
    position: relative;
    gap: 1rem;

    @media (max-width: $medium-viewport){
        justify-content: center;
    }

    @media (min-width: $large-viewport){
        width: $large-viewport;
    }
}

.l-main__background--hero{
    .l-section{
        justify-content: center;
        align-items: center;
    }
}